%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-primary {
  @extend %btn;
  @include set-background($primary-color);
}
.btn-secondary {
  @extend %btn;
  @include set-background($darkest-cyan-color);

  &-selected {
    @include set-background($primary-color);
  }
}
