@media only screen and (min-width: 992px) {
  html {
    height: 100%;
    font-size: 100%;
  }
  body {
    justify-content: center;
    background-position: center 150px;
    background-size: 7rem;
    .content {
      .control-container {
        flex-direction: row;
        margin-bottom: 0;
        width: 49.3rem;
        height: 29.5rem;
        .input-container {
          margin-right: 2rem;
          flex: 3;
          .tip-container {
            .tip-box {
              background-color: "red";
            }
          }
        }
        .result-container {
          height: 100%;
          margin-top: 0;
          flex: 2;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
}
